
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="nav-div">
        <a class="navbar-brand" href="/">
          <img src="src/assets/images/logo.png" alt="logo" style="width:40px;"> <span>FUTO E-Learning App</span>
        </a>
    </div>
    
        <select class="select-form" name="date" [(ngModel)]="selectedOption">
            <option *ngFor="let title of titles" [ngValue]="title">
                {{ title }}
            </option>
        </select> 
      </nav>
        

    <app-admin-add [selectedTopic]="selectedOption"></app-admin-add>
    <!-- <app-app-statistics></app-app-statistics> -->
